@font-face { 
  font-family: manteka; 
  src: url(manteka.ttf); 
}

@font-face{
  font-family: bla;
  src: url('OpenSans-ExtraBold.tff');
}

.body { 
  font-family: bla;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: white;
}

.navbar-wrapper {
  margin-top: 50px;
}

.header-bg{
  background-color: #c0392b;
  height: 170px;
  width: 100%;
}

.page-container {
  padding-left: 20px;
  padding-right: 20px;
}

.header-wrapper {
  height: inherit;
}

.header-content-wrapper { /* 40px each side */
  width: 980px;
  height: inherit;
}

.content-wrapper{
  height: 1000px;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.13);
  margin-top: -63px;
  background-color: white;
  padding: 0px 40px 0px 40px;
}


.content {
  background-color: black;
  margin: 0px 40px 0px 40px;
}

.content-area {
  margin-top: 50px;
}

.top-bar .form-items {
  border-color: black;
  border-radius: 1px;
}

.activity-chooser-wrapper {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 27px;
  color: white;
}

.sort-filter-wrapper {
  width: 200px;
  height: 47px;  
  padding-top: 60px;
  padding-bottom: 20px;
  color: white;
}

.sort-filter {
  height: 47px;
}

.inline li {
    display: inline;
}

.glyphicon-filter,
.glyphicon-bullhorn {
  font-size: 20px;
}

.header-search {
  width: 300px;
}

/* Sidebar Menu Styles */

#Sidebar-menu-toggle-wrap {
  display: inline-block;
}

#Sidebar-menu-toggle-wrap:hover {
  color: #3498db;
  background-color:  #232323;
}

i.side-icon {
  margin-right: 15px;
  display: inline-block;
  color: #3498db;
}


/* 
.navbar-fixed-side ul li {
    border-bottom: 1px solid #e7e7e7;
}*/
#Sidebar-menu-button: hover{
  color: #2980b9;
}

.sidebar-right-content {
  color: #e9F0F4;
}

.fa-plus-square-o:before {
    content: "\f196";
}   

.active > a > span > span > .fa-plus-square-o:before {
    content: "\f147";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 45px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-fixed-side {
      z-index: 1;
      position: fixed;
      width: 200px;
      height: 100%;
      background-color: #232323;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Main Body Style */

.main-content-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0px 15px 15px 215px;
  background-color: #e5e5e5;
}

.main-content-area{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.row-divider {
  width: 100%;
  height:30px;
}

/* Cards */

.card {
  background-color: #c0392b;
  width: 304px;
  height: auto;
  text-align: center;
  margin: 18px 18px 18px 18px;
  display: inline-block;
}

.sport-icon-wrapper {
  padding: 5px 30% 5px 30%; 
  color: #F1EF0F;
  background-color: #e74c3c;
}

.card-star-wrapper {
  padding: 0px 30% 0px 30%; 
  color: #F1EF0F;
  background-color: #c0392b;
}

.card-time-wrapper {
  padding: 5px 5px 5px 5px;
  color: white;
  background-color: #e74c3c;
}

.card-time-wrapper > .card-number {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 27px;
  color: #ecf0f1;
}

.card-time-wrapper > .description-text {
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  color: #ecf0f1;
}

.card-rating-stars {
  margin: 0px 1px 0px 1px;
  line-height: 20px;
  color: #F1E371;
}

.card-content-wrapper {
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
}

.card-number {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  color: #e74c3c;
}

.card-free-slot{
  color: #2ecc71;
}

.card-needed{
  color: #f1c40f;
}

.description-text {
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  color: #7f8c8d;
}

.join-wrapper {
  width: 100%;
  height: auto;
}

.btn-join {
  background-color: #e74c3c;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 0px;
}

.knob-wrapper {
  width:100%;
  height:100%;
}

.progress-wrapper {
  width: auto;
  height: auto;
  background-color: #f5f5f5;
}

/* Display date of group of cards.*/
.date-wrapper {
  font-size: 27px;
  height: 63px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.date-day-of-week {
  font-weight: bold;
  display: inline-block;
  line-height: 27px;
}

.date-dmy {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
}

/* Search Bar */
.search-bar-wrapper {
  height: auto;
  width: 100%;
  background-color: #232323;
  margin-bottom: 20px;
}

.search-bar {
  height: auto;
  width: 100%;
  float: left;
  padding: 5px 2.5px 5px 2.5px;
}

.search-bar-wrapper > .filter {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  font-weight: bold;
}

.search-title {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.search-bar .activity {
  width: 60%;
  height: inherit;
  padding-right: 2.5px;
  padding-left: 2.5px;
  float: inherit;
  vertical-align: middle;
  text-align: center;
}

.search-bar .date {
  width: 20%;
  height: inherit;
  padding-right: 2.5px;
  padding-left: 2.5px;
  float: inherit;
}
.search-bar .skill {
  width: 20%;
  height: inherit;
  padding-right: 2.5px;
  padding-left: 2.5px;
  float: inherit;

}
.search-bar .join {
  width: 20%;
  height: inherit;
  padding-right: 2.5px;
  padding-left: 2.5px;
  float: inherit;

}

.fill {
  width: 100%;
}

.portrait-wrapper {
  width: 50px;
  height: 50px;
  background-color: white;
}

