

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.icon-center {
    margin-right:2%;
    display:inline;
}

.center { float: right; margin-top: auto; margin-bottom: auto; }

/* Sidebar Menu Styles */

i.side-icon {
  margin-right: 20px;
  display: inline-block;
}

/* 
.navbar-fixed-side ul li {
    border-bottom: 1px solid #e7e7e7;
}*/

 .sidebar-search {
    padding: 15px;
}

.fa-plus-square-o:before {
    content: "\f196";
}   

.active > a > span > span > .fa-plus-square-o:before {
    content: "\f147";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-fixed-side {
      padding-top: 5%;
        z-index: 1;
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: black;

    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}