@font-face { font-family: manteka; src: url('manteka.ttf'); } 

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.icon-center {
    margin-right:2%;
    display:inline;
}

.center { float: right; margin-top: auto; margin-bottom: auto; }

/* Sidebar Menu Styles */

/*#Sidebar-menu-toggle-wrap:hover {
  background-color: white;
}*/

i.side-icon {
  margin-right: 15px;
  display: inline-block;
  color: #C1CfD9;
}

/* 
.navbar-fixed-side ul li {
    border-bottom: 1px solid #e7e7e7;
}*/
a#Sidebar-menu-button{
  color: #C1CfD9;
}

a#Sidebar-menu-button:hover {
  background-color: #232323;
}

.sidebar-right-content {
  color: #e9F0F4;
}

.fa-plus-square-o:before {
    content: "\f196";
}   

.active > a > span > span > .fa-plus-square-o:before {
    content: "\f147";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 45px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-fixed-side {
      z-index: 1;
      position: fixed;
      width: 200px;
      height: 100%;
      background-color: #232323;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Main Body Style */
.main-content-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 100px 15px 15px 215px;
  background-color: #e5e5e5;
}

.main-content-area{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}