<div ng-controller="sportController" class="searchbar-wrapper page-header-wrapper">
  <!-- SEARCH BAR -->
  <h2>Browse Activities</h2>
  <form ng-submit="setValue(currentsport)">
    <div class="dropdown" id="activitySearchWrapper">

      <input select-on-click id="activitySearchBox" type="text" data-toggle="dropdown" class="form-control" placeholder="Click to view activities" ng-model="currentsport">

      <!-- DROPDOWN MENU -->
      <div class="dropdown-menu" id='activity-menu'>
        <div class="list-group">

          <div class="header">
            Racquet Sports
          </div>

          <a href="" class="list-group-item" ng-repeat="sport in sports.RacquetSports[0] | filter: currentsport" ng-click="setValue(sport)">{{sport.label}}</a>

        </div>
<!-- 
        <div class="list-group">

          <div class="header">
            Other Team Sports
          </div>

          <a href="" class="list-group-item" ng-repeat="sport in sports.TeamSports[0] | filter: currentsport" ng-click="setValue(sport)">{{sport.label}}
          </a>

        </div>

        <div class="list-group last">

          <a href="" class="list-group-item" ng-repeat="sport in sports.TeamSports[1] | filter: currentsport" ng-click="setValue(sport)">{{sport.label}}</a>

        </div> -->
      </div> 
    </div>
  
    <a href="" ng-click="resetActivity()" ng-show="toggleIcon">
      <icon class="glyphicon glyphicon-remove"></icon>
    </a>

    <a href="" ng-click="resetActivity()" ng-show="!toggleIcon">
      <icon class="glyphicon glyphicon-search"></icon>
    </a>
  </form>

</div>