.deeply {
  width: 100%;
  height: 100%;
	background-image: url('../img/deeply4.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-color: #333;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	display: table;
}

#activity-vertical-center {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
} 

/* LOGO GOES HERE */
	.icon-wrap {
		width: 200px;
		height: auto;
		margin: 0 auto;
	}

	.justPlay {
	  background: url('../img/justplaylog.png') no-repeat center;
	  width: 100%;
	  height: 70px; 
	}
/* LOGO GOES HERE */

/* LOGO Description goes here */
#activity-vertical-center > h3 {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 30px;
}

#activity-vertical-center > input {
	margin: 0 auto 7px;
	width: 366px;
	height: 48px;
	font-size: 18px;
	background: rgba(255,255,255,.9);
}

#activity-vertical-center > button {
	width: 366px;
	background: linear-gradient(to bottom,#76d926,#6ac322);
	height: 50px;
	font-weight: 700;	
	font-size: 20px;
}

.more {
	padding-top: 13px;
	color: rgba(255,255,255,.4);
}

.more > p {
	margin-bottom: 0px;
	font-size: 14px;
}

.more > p > a {
	color: rgba(255,255,255,.4);
	font-weight: 700;
}

