<!-- Popover (hidden) form -->
  <!-- Activity Form -->
    <div id="activity-create-form" class="hide" ng-controller="activityController">
      <form role="form">
        <div class="form-group">
          <select 
          class="form-control"
          ng-model="activityselected"
          ng-options="c.value as c.label group by c.category for c in activities">
          </select >     
          <div class="divider"></div>
          <div class="input-group">
            <input type="datetime" class="form-control" id="inputDate" placeholder="Date/Time">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-calendar"></icon></span>
          </div>
          <div class="divider"></div>
          <div class="input-group"> 
            <input type="number" class="form-control" id="inputCapacity" placeholder="Min & Max Capacity">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-stats"></icon></span>
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <input type="text" class="form-control" id="inputLocation" placeholder="Location">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-map-marker"></icon></span>
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <textarea class="form-control" id="inputDescription" rows="3" placeholder="Description"></textarea>
          </div>
          <div class="checkbox">
            <label>
              <input id="inputPrivate" type="checkbox"> Private (Invite only)
            </label>
          </div>
          <button type="button" class="btn btn-success fill" onclick="$('#suggest-activity').popover('hide');">Suggest</button>
        </div>  
      </form>
    </div>
    <div id="activity-form-title" class="hide">
      <span class="text-info">Suggest Activity</span>
      <button type="button" id="close" class="close" onclick="$('#suggest-activity').popover('hide');">
        <icon class="glyphicon glyphicon-remove"></icon>
      </button>
    </div>
  <!-- Activity Form -->

  <!-- Notification Form -->
    <div id="notification-form-title" class="hide">
      <span class="text-info">Get Notified</span>
      <button type="button" id="close" class="close" onclick="$('#get-notified').popover('hide');">
        <icon class="glyphicon glyphicon-remove"></icon>
      </button>
    </div>
    <div id="notification-form" class="hide">
      <form role="form">
        <div class="form-group">
          <div class="divider"></div>
          <div class="input-group">
            <input type="text" class="form-control" id="NinputActivity" placeholder="Activities">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-heart-empty"></icon></span>            
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <input type="text" class="form-control" id="NinputSkill" placeholder="Skill Range">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-star-empty"></icon></span>
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <input type="datetime" class="form-control" id="NinputDate" placeholder="Date/Time">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-calendar"></icon></span>
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <input type="text" class="form-control" id="NinputLocation" placeholder="Location (Optional)">
            <span class="input-group-addon"><icon class="glyphicon glyphicon-map-marker"></icon></span>
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <input type="text" class="form-control" id="NinputSMS" placeholder="Notify (Phone Number)">
            <span class="input-group-addon">
              <input id="NradioSMS" name="inputWalls" id="inputWalls" type="radio">
            </span>            
          </div>
          <div class="divider"></div>
          <div class="input-group">
            <input type="text" class="form-control" id="NinputEmail" placeholder="Notify (Email)">
            <span class="input-group-addon">
              <input id="NradioEmail" name="inputWalls" id="inputWalls"  type="radio">
            </span>            
          </div>
          <div class="divider"></div>       
          <button type="button" class="btn btn-success fill" onclick="$('#get-notified').popover('hide');">Suggest</button>
          </div>
      </form>
    </div>
  <!-- Notification Form -->
    
  <!-- Date-Pick -->
    <div id="date-pick-title" class="hide">
      <span class="text-info">Day</span>
      <button type="button" id="close" class="close" onclick="$('.date-day-of-week').popover('hide');">
        <icon class="glyphicon glyphicon-remove"></icon>
      </button>
    </div>
    <div id="date-pick">
      
    </div>
  <!-- Date-Pick -->
<!-- Popover (hidden) form -->

<div class="super-wrapper" ng-controller="masterCtrl">
  <!-- Top Nav bar -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand" href="">
            <img src="app/img/justPlayVector.png" class="img-responsive" alt="">
          </a>
        </div>

        <div class="navbar-collapse collapse" nav-collapse="">         
          <ul class="nav navbar-nav navbar-left">
          </ul>

          <ul class="nav navbar-nav navbar-right" >
            <li><a ui-sref="main.activities.list" tooltip-placement="bottom" tooltip="Browse Activities">
            <i class="glyphicon glyphicon-list side-icon"></i><span>Activities</span></a>
            </li>
            <li><a ui-sref="main.activities.create" tooltip-placement="bottom" tooltip="Create"><i class="glyphicon glyphicon-plus side-icon"></i><span>Create Activity</span></a></li>
            <li><a ui-sref="main.social.list" tooltip-placement="bottom" tooltip="People" data-toggle="collapse">
            <i class="fa fa-group side-icon"></i><span>People</span></a>
            </li>
            <li>
              <button ui-sref="login" ng-hide="getUser()"class="btn btn-success navbar-btn">Login</button>
            </li>
            <li ng-show="getUser()" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="profile">{{user.first_name}}</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href=""><i class="glyphicon glyphicon-user"></i><span class="hidden text">a</span>Profile</a></li>
                <li><a href=""><span class="hidden text">laal</span>Friends</a></li>
                <li class="divider"></li>
                <li><a href="#">Account settings</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  <!-- Top Nav Bar -->

  <div class="navbar-wrapper">
  <div ui-view="header"/>
  <div ui-view="body"/>
  </div>
</div>  