<div class="filter-wrap" ng-repeat="bundle in bundles | orderBy: 'id'">
  <multiselect 
    multiple='true' 
    ng-model="bundle.selected" 
    ms-header="{{bundle.placeholder}}"
    ms-multiple-string="{{bundle.maxString}}"
    ms-max-length="{{bundle.maxLength}}"
    ms-max-length-string="{{bundle.maxLengthString}}"
    ng-change="allowFilter()"
    options="filter.value as filter.label for filter in bundle.options">
  </multiselect>
</div>
<div class="filter-reset">
  <button type="button" ng-click="resetFilters()" class="btn btn-primary fill">Reset Filters</button>            
</div>