<div class="page-container">
  <div class="content-wrapper" ng-controller="cardsController" >
      <div class="date-wrapper" ng-repeat-start="dateobj in dates | orderBy: 'date' " >
        <div ng-controller="activityListDateController">
          <a id="{{dateobj.date | date:filterFormat}}" 
          href="" class="date-choose-button" 
          ng-click="open($event)" 
          datepicker-popup=filterFormat
          ng-model="dt" 
          is-open="opened" 
          min="minDate" 
          max="maxDate"
          ng-required="true" 
          data-toggle="dropdown"
          close-text="Close">{{dateobj.date | date:filterFormat}}</a>
        </div>
      </div>
      <div class="card-container" ng-repeat-end>
        <div class="card-wrap" 
        ng-repeat="card in dateobj.obj | filter:{activity:activityFilter}| property:searchFilter:filterFlag | orderBy: sortStrategy" 
        ng-controller="cardController">
          <div class="card-left" > 
            <div class="card-activity">
              {{card.activity}}
            </div>
            <div class="card">
              <div class="card-star-wrapper star-mouseover">
                <a href="" tooltip-placement="top" tooltip="{{skillDescription}}">
                  <icon ng-repeat="i in stars" class="glyphicon glyphicon-star card-rating-stars"></icon>
                </a>
              </div>
              <div class="card-header-wrapper">
                <div class="description-text">
                  {{card.startdate | amDateFormat: 'dddd, MMM Do' | uppercase}}
                </div>
                <div class="card-number">
                  {{card.startdate | amDateFormat: 'HH:mm'}}-{{card.enddate | amDateFormat: 'HH:mm'}}
                </div>
                <div class="description-text">
                  {{card.location | uppercase}}
                </div>
              </div>
              <div class="card-content-wrapper">
                <div class="card-info-wrapper">
                  <div class="card-info-title">Description</div>
                  <div class="card-info description text-center">
                    {{card.description}}
                  </div>
                </div>
                <div class="card-metrics">
                  <div class="row">
                    <div class="col-sm-4 friend-list-tooltip">
                      <div class="metric active">
                        <div class="card-number">
                          {{card.participants.totalFriends}}
                        </div>
                        <div class="description-text">
                          FRIENDS
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 metric passive">
                      <div class="card-number">
                        {{ card.participants.totalParticipants }}/{{card.capacity}}
                      </div>
                      <div class="description-text">
                        PEOPLE
                      </div>
                    </div>
                    <div class="col-sm-4 metric passive">
                      <div class="card-number">
                        {{peopleneeded}}
                      </div>
                        <div class="description-text">
                          {{neededorfree}}
                        </div>
                    </div>                              
                  </div>
                </div>
              </div>
              <div class="primary-button-wrapper">
                <button type="button" ng-click="open()" class="btn btn-info fill">More</button>
              </div>
          </div>
        </div>
      </div>                  
    </div>
  </div>
</div>  