<div class="media comment" >
  <a class="pull-left" href="">
    <img class="media-object" ng-src="{{AuthSvc.getUser().profile.image}}" alt="dp" width="50px">
  </a>
  <div class="media-body">
		<textarea class="form-control" name="comment" ng-model="newcomment" rows="2" placeholder="Comment here" ng-disabled='!enabled'></textarea>
  	<button class="btn btn-success pull-right" ng-click="postComment(list, newcomment)" ng-show='enabled'>
  		comment
			<span ng-show='!enabled'>login to comment</span>
  	</button>
  	<button class="btn btn-success pull-right" ui-sref='login' ng-show='!enabled'>
  		login to comment
  	</button>
  </div>
</div>