<div class="media comment">
  <a class="pull-left" ui-sref="main.profile({username:commentobj.username})">
    <img class="media-object" ng-src="{{commentobj.profile_picture}}" width="50px">
  </a>
  <div class="media-body">
  	<a class="media-name" ui-sref="main.profile({username:commentobj.username})"><h5 class="media-heading">{{commentobj.name}}</h5></a>
    <div class='comment-text' editable-textarea="commentobj.description" e-form="formDescription" e-placeholder="Edit your comment">{{commentobj.description}}</div>

    <p class="text-muted comment-date"><span am-time-ago="commentobj.date"></span></p>
  </div>
  <span ng-show="IsCurrentUser(commentobj.username)">
		<button 
		class="btn-link edit"
		ng-click="formDescription.$show()" ng-hide="formDescription.$visible">
			<i class="glyphicon glyphicon-pencil pull-right"></i>
		</button>
  </span>
</div>