<div class="page-container">
  <div class="content-wrapper search-content">
    <div class="activitymanager-body-wrapper">
      <div class="activity-day-wrapper">
        <div class="card-container">
          <div class='call-to-action' 
          ng-show="activeActList[selectedCat].length == 0 && (selectedCat === 'Hosted' || selectedCat === 'Upcoming')">
            <p>You have no activities.</p>
            <p>Want to try hosting an activity?</p>
            <button 
            ui-sref='main.activities.create'
            class='btn btn-primary btn-call-to-action'>Host Activity</button>
          </div>
          <div class='call-to-action' ng-show="activeActList[selectedCat].length == 0 && selectedCat === 'Past'">
            <p>You have no past activities</p>
          </div>
          <activitycard class="card-wrap" 
          ng-repeat="activityobj in activeActList[selectedCat]" 
          activity="activityobj">
          </activitycard>
        </div>
      </div>
    </div>
  </div>
</div>  