<div class="page-container">
  <div class="content-wrapper search-content">
    <div class="activity-day-wrapper" ng-repeat="dateobj in dates | orderBy: 'date'" >
      <div class="card-header-text date-wrapper" >
        <div ng-controller="activityListDateController">
          <a id="{{dateobj.date | date:filterFormat}}" 
          href="" class="date-choose-button" 
          ng-click="open($event)" 
          datepicker-popup=filterFormat
          ng-model="dt" 
          is-open="opened" 
          min="minDate" 
          max="maxDate"
          ng-required="true" 
          data-toggle="dropdown"
          close-text="Close">{{dateobj.date | date:filterFormat}}</a>
        </div>
      </div>
      <div class='call-to-action' ng-show='dateobj.obj.length == 0'>
        <p>Hey, there doesn't seem to be anyone playing yet.</p>
        <p>Want to try hosting an activity?</p>
        <button 
        ng-click="createActivity(dateobj.date, activityFilter)" 
        class='btn btn-primary btn-call-to-action'>Host Activity</button>
      </div>
      <div class="card-container">
        <activitycard class="card-wrap" 
        ng-repeat="card in dateobj.obj | filter:{sport:activityFilter} | property:searchFilter:filterFlag | orderBy: 'starttime'" 
        activity="card">
        </activitycard>
      </div>
    </div>
  </div>
</div>  