<div class="page-container">
  <div class="content-wrapper no-content" >
		<div class="header-content-area">
			<div class="jp-h1">{{activity.sport}}</div>
			<ul class="list-group">
			  <li class="list-group-item">
					<i class="fa fa-calendar-o pull-left"></i>
				  <h4 class="list-group-item-heading inline-edit" 
 				  editable-bsdate="activity.startingtime" 
 				  e-type='datetime'
				  e-datepicker-popup="EEEE, MMM d"
				  e-min='minDate'
				  e-max='maxDate'
				  ng-show="isOwner"> 
						{{activity.startingtime | amDateFormat: 'dddd, MMM Do' }}
					</h4>
					<h4 class="list-group-item-heading" ng-show="!isOwner">
						{{activity.startingtime | amDateFormat: 'dddd, MMM Do' }}
					</h4>
			  </li>
			  <li class="list-group-item">
					<i class="fa fa-clock-o pull-left"></i>
				  <h4 class="list-group-item-heading inline-edit"
				  editable-bstime="activity.startingtime" e-show-meridian="false" e-minute-step="10" ng-show="isOwner"> 
						{{activity.startingtime | amDateFormat: 'HH:mm'}}
					</h4>
				  <h4 class="list-group-item-heading inline-edit-disabled" ng-show="!isOwner"> 
						{{activity.startingtime | amDateFormat: 'HH:mm'}}
					</h4>
					<span>-</span>
					<h4 class="list-group-item-heading inline-edit"
				  editable-bstime="activity.endingtime" e-show-meridian="false" e-minute-step="10" ng-show="isOwner">
						{{activity.endingtime | amDateFormat: 'HH:mm'}}  
					</h4>
					<h4 class="list-group-item-heading inline-edit-disabled" ng-show="!isOwner">
						{{activity.endingtime | amDateFormat: 'HH:mm'}}  
					</h4>
			  </li>
			  <li class="list-group-item">
					<i class="glyphicon glyphicon-map-marker pull-left"></i>
				  <h4 class="list-group-item-heading inline-edit" editable-text="activity.location" ng-show="isOwner"> 
						{{activity.location}}
					</h4>
				  <h4 class="list-group-item-heading inline-edit-disabled" ng-show="!isOwner"> 
						{{activity.location}}
					</h4>
			  </li>
			</ul>
			<div class="call-to-action" ng-show="isLoggedIn">
				<div ng-show='!isOwner'>
					<button class="btn btn-success" ng-click="join(activity.id)" ng-show="!isParticipant">Join</button>
					<button class="btn btn-danger" ng-click="unjoin(activity.id)" ng-show="isParticipant">Leave</button>
				</div>
				<div ng-show="isOwner">
					<button class="btn btn-danger" ng-click="cancel(activity.id)">Cancel Activity</button>
				</div>
			</div>
		</div>
		<div class="activity-detail-area">
			<tabset>
		    <tab heading="Going">
		      <tab-heading>
		        <i class="glyphicon glyphicon-ok hidden-xs"></i>
		        Going ({{activity.activityJoined.data.length}})
		      </tab-heading>
		    	<jpuserlist pageLength="6" getUsers="activity.activityJoined.data">
					</jpuserlist> 
		    </tab>
		    <tab>
		      <tab-heading>
		        <i class="glyphicon glyphicon-align-right hidden-xs"></i>
		        Description
		      </tab-heading>
		      <div class="activity-detail-description">
		      	<span ng-show="isOwner">
							<button 
								class="btn-link pull-right"
								ng-click="formDescription.$show()" ng-hide="formDescription.$visible">
									<i class="glyphicon glyphicon-pencil pull-right"></i>
							</button>
		      	</span>
						<span class="activity-description-box" editable-textarea="activity.description" e-form="formDescription" e-placeholder="Activity Description" e-rows="5" e-cols="30">
			      	{{activity.description}}
						</span>
		      </div>
		    </tab>
		    <tab>
		      <tab-heading>
		        <i class="glyphicon glyphicon-comment hidden-xs"></i>
		        Comments ({{activity.comments.data.length}})
		      </tab-heading>
					<jpcommentlist list='activity.comments.data' page-length='11'></jpcommentlist>
					<jpcommentbox list='activity.comments.data' activity-id='activity.id' ng-show="getUser()"></jpcommentbox>
		    </tab>
		  </tabset>
		</div>
  </div>
</div>  

