<div class="page-container">
  <div class="content-wrapper search-content">
    <div class="activity-day-wrapper" ng-repeat="dateobj in dates | orderBy: 'date'" >
      <div class="date-wrapper" >
        <div ng-controller="activityListDateController">
          <a id="{{dateobj.date | date:filterFormat}}" 
          href="" class="date-choose-button" 
          ng-click="open($event)" 
          datepicker-popup=filterFormat
          ng-model="dt" 
          is-open="opened" 
          min="minDate" 
          max="maxDate"
          ng-required="true" 
          data-toggle="dropdown"
          close-text="Close">{{dateobj.date | date:filterFormat}}</a>
        </div>
      </div>
      <div class='call-to-action' ng-show='dateobj.obj.length == 0'>
        <p>Hey, there doesn't seem to be anyone playing yet.</p>
        <p>Want to try hosting an activity?</p>
        <button 
        ng-click="createActivity(dateobj.date, activityFilter)" 
        class='btn btn-primary'>Host Activity</button>
      </div>
      <div class="card-container">
        <div class="card-wrap" 
        ng-repeat="card in dateobj.obj | filter:{sport:activityFilter} | property:searchFilter:filterFlag" 
        ng-controller="cardController">
          <div class="card-left" > 
            <div class="card-activity">
              {{card.sport}}
            </div>
            <div class="card">
              <div class="card-star-wrapper star-mouseover">
                <a href="" tooltip-placement="top" tooltip="{{skillDescription}}">
                  <icon ng-repeat="i in stars" class="glyphicon glyphicon-star card-rating-stars"></icon>
                </a>
              </div>
              <div class="card-header-wrapper">
                <div class="description-text">
                  {{card.date | amDateFormat: 'dddd, MMM Do' | uppercase}}
                </div>
                <div class="card-number">
                  {{card.starttime | amDateFormat: 'HH:mm'}}-{{card.endtime | amDateFormat: 'HH:mm'}}
                </div>
                <div class="description-text">
                  {{card.location | uppercase}}
                </div>
              </div>
              <div class="card-content-wrapper" ng-init="radioModel = 'Middle'">
                <div class="card-info-wrapper" ng-show="radioModel == 'Left'">
                  <div class="card-info-title">Friends</div>
                  <div class="card-info description text-center going-friend-icons">
                  <jppeoplegoingicon maxitems="8" maxextras="10" users="friendList"></jppeoplegoingicon> 
                  </div>
                </div>  
                <div class="card-info-wrapper" ng-show="radioModel == 'Middle'">
                  <div class="card-info-title">Description</div>
                  <div class="card-info description text-center">
                    {{card.description}}
                  </div>
                </div>
                <div class="card-info-wrapper" ng-show="radioModel == 'Right'">
                  <div class="card-info-title">People</div>
                  <div class="card-info description text-center">
                     <jppeoplegoingicon maxitems="8" maxextras="10" users="goingList"></jppeoplegoingicon>
                  </div>
                </div>
                <div class="card-metrics">
                  <div class="row">
                    <div class="col-xs-4 friend-list-tooltip">
                      <button class="btn jp-btn-link" ng-model="radioModel" btn-radio="'Left'">
                        <div class="card-number">
                          {{card.participants.totalFriends}}
                        </div>
                        <div class="description-text">
                          FRIENDS
                        </div>
                      </button>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn jp-btn-link" ng-model="radioModel" btn-radio="'Middle'">                        
                        <div class="card-metric-icon">
                          <i class="glyphicon glyphicon-align-center"></i>
                        </div>
                        <div class="description-text">
                          OVERVIEW
                        </div>
                      </button>
                    </div>                           
                    <div class="col-xs-4">
                      <button class="btn jp-btn-link" ng-model="radioModel" btn-radio="'Right'">                        
                        <div class="card-number">
                          {{ card.participants.totalParticipants }}
                        </div>
                        <div class="description-text">
                          GOING
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="primary-button-wrapper">
                <button type="button" ng-click="open(card.activity_id)" class="btn btn-info fill">More</button>
              </div>
          </div>
        </div>
      </div>                  
    </div>
    </div>
  </div>
</div>  