<!-- LOGIN FORM -->
<form name="loginForm" class="login" ng-submit="submit(loginForm.$valid)" novalidate>
	
	<!-- EMAIL -->
	<div class="form-group"
	ng-class="
	{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
		<input name="email" type="email" class="form-control" placeholder="Email" ng-model="login.email" required>
		
		<!-- Email Validation Messages -->
			<p ng-show="!loginForm.email.$pristine && !registeredEmail && submitted" class="help-block">We can't find your email, have you signed up yet?</p>
		<!-- Email Validation Messages -->

	</div>

	<!-- PASSWORD -->
	<div class="form-group" 
	ng-class="{ 
	'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
		
		<input name="password" type="password" class="form-control" placeholder="Password" ng-model="login.password" ng-maxlength="25" ng-minlength="6" required>
	
		<!-- Password Validation Messages -->
		<p ng-show="!loginForm.password.$pristine && loginForm.password.$error.required && submitted" class="help-block">Your password is required</p>

		<p ng-show="!loginForm.password.$pristine && loginForm.password.$error.minlength && submitted" class="help-block">Your password should contain at least 6 characters/numbers</p>

		<p ng-show="loginForm.password.$error.maxlength && submitted" class="help-block">Your name should contain at most 25 characters/numbers</p>
		<!-- Password Validation Messages -->

	</div>

	<button type="submit" class="btn btn-primary">Login</button>
</form>