/* OVERLAY FOR FORMS */
	.deeply {
	  width: 100%;
	  height: 100%;
		background-image: url('../img/deeply4.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		background-color: #333;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #333;
		display: table;
	}

	.createBackdrop {
	  width: 100%;
	  height: 100%;
		display: table;
	}
/* OVERLAY FOR FORMS */

#activity-vertical-center {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
} 

/* LOGO GOES HERE */
	.icon-wrap {
		width: 200px;
		height: auto;
		margin: 0 auto;
	}

	.justPlay {
	  background: url('../img/justplaylog.png') no-repeat center;
	  width: 100%;
	  height: 70px; 
	}
/* LOGO GOES HERE */

/* LOGO Description goes here */
	#activity-vertical-center > h3 {
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 30px;
	}

	h3.login,
	h3.signup {
		color: #fff;
		line-height: 1.2;
	}

	h2.createActivity {
		line-height: 1.2;
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 30px;
	}
/* LOGO Description goes here */
