<div class="jp-user-list">
	<div class="input-group">
		<input type="text" ng-model="asyncSelectedUser" placeholder="Search for people, friends..." ng-change="updateUsers(asyncSelectedUser)" class="form-control">
		<div class="input-group-addon">
			<a href="" ng-click="clear(asyncSelectedUser)">
				<i ng-show="!asyncSelectedUser" class="glyphicon glyphicon-search"></i>
				<i ng-show="asyncSelectedUser" class="glyphicon glyphicon-remove"></i>
			</a>
		</div>
	</div>  
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="user in users | filter:{name:asyncSelectedUser} | startFrom: (currentPage-1)*pageLength | limitTo: pageLength">
		  <div class="row">
				<div class="pull-left">
	      	<img src="app/img/jack-yiu-dp.jpg" alt="dp" width="50px">
				</div>
				<div class="right-content">
				  <h4 class="list-group-item-heading">
						{{user.name}} 
					</h4>
				</div>
		  </div>
	  </li>
	</ul>
	<pagination total-items="totalItems" items-per-page="pageLength" page="currentPage" ng-model="yo"></pagination>
</div>