<div class="jp-user-list">
	<div class="input-group">
		<input type="text" ng-model="asyncSelectedUser" placeholder="Search for people, friends..." ng-change="updateUsers(asyncSelectedUser)" class="form-control">
		<div class="input-group-addon">
			<a href="" ng-click="clear(asyncSelectedUser)">
				<i ng-show="!asyncSelectedUser" class="glyphicon glyphicon-search"></i>
				<i ng-show="asyncSelectedUser" class="glyphicon glyphicon-remove"></i>
			</a>
		</div>
	</div>  
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="user in users | filter:{first_name:asyncSelectedUser} | startFrom: (currentPage-1)*pl | limitTo: pl">
      <div class="media comment">
			  <a class="pull-left" ui-sref="main.profile({username:user.username})">
			    <img class="media-object" src="app/img/jack-yiu-dp.jpg" alt="dp" width="50px">
			  </a>
			  <div class="media-body">
		  		<a class="media-name" ><h5 class="media-heading">{{user.first_name}}</h5></a>
			  	<span>
				  	<button id="addfriend" ng-hide="user.areFriends" class="btn btn-sm btn-default pull-right"><i class="glyphicon glyphicon-plus"></i><span class="hidden">a</span>Add Friend</button>
		  			<button id="addfriend" ng-show="user.areFriends" class="btn btn-sm btn-default pull-right"><i class="glyphicon glyphicon-ok"></i><span class="hidden">a</span>Friends</button>
	  			</span>
		  </div>
			</div>
	  </li>
	</ul>
	<pagination total-items="totalItems" items-per-page="pl" page="currentPage" ng-model="yo"></pagination>
</div>