<div class="jp-user-list">
	<div class="input-group">
		<input type="text" ng-model="asyncSelectedUser" placeholder="Search for people, friends..." ng-change="updateUsers(asyncSelectedUser)" class="form-control">
		<div class="input-group-addon">
			<a href="" ng-click="clear(asyncSelectedUser)">
				<i ng-show="!asyncSelectedUser" class="glyphicon glyphicon-search"></i>
				<i ng-show="asyncSelectedUser" class="glyphicon glyphicon-remove"></i>
			</a>
		</div>
	</div>  
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="user in users | filter:{name:asyncSelectedUser} | startFrom: (currentPage-1)*pageLength | limitTo: pageLength">
      <div class="media comment">
			  <a class="pull-left" href="">
			    <img class="media-object" src="app/img/jack-yiu-dp.jpg" alt="dp" width="50px">
			  </a>
			  <div class="media-body">
			    <a href=""><h5 class="media-heading">{{user.name}}</h5></a>
			  </div> 
			</div>
	  </li>
	</ul>
	<pagination total-items="totalItems" items-per-page="pageLength" page="currentPage" ng-model="yo"></pagination>
</div>