<!-- Header -->
<div class="header-bg">
  <div class="header-content-wrapper">
  <div class="activity-chooser-wrapper pull-left">
  <!-- SearchBar Controller -->
    <div id="activity-search-bar" class="input-group header-search" ng-controller="sportController">
      <form ng-submit="setValue(currentsport)">
        <div class="dropdown" id="activitySearchWrapper">
          <input select-on-click id="activitySearchBox" type="text" data-toggle="dropdown" class="form-control" placeholder="Click to view activities" ng-model="currentsport">
          <div class="dropdown-menu" id='activity-menu'>
            <div class="list-group">
              <a href="#" class="list-group-item" ng-click="setValue('')"><icon class="glyphicon glyphicon-star"></icon> All Sports</a>
              <a href="#" class="list-group-item" ng-click="setValue('')"><icon class="glyphicon glyphicon-star"></icon> Sports with friends</a>
              <div class="header">
                Racquet Sports
              </div>
              <a href="#" class="list-group-item" ng-repeat="sport in sports.RacquetSports[0] | filter: currentsport" ng-click="setValue(sport)">{{sport.label}}</a>
            </div>

            <div class="list-group">
              <div class="header">
                Other Team Sports
              </div>
                <a href="#" class="list-group-item" ng-repeat="sport in sports.TeamSports[0] | filter: currentsport" ng-click="setValue(sport)">{{sport.label}}</a>
            </div>

            <div class="list-group last">
              <a href="#" class="list-group-item" ng-repeat="sport in sports.TeamSports[1] | filter: currentsport" ng-click="setValue(sport)">{{sport.label}}</a>
            </div>
          </div> 
        </div>
      </form>
      <a href="#" ng-click="resetActivity()" ng-show="toggleIcon" id="resetActivity">
        <icon class="glyphicon glyphicon-remove"></icon>
      </a>
      <a href="#" type="submit" ng-animation="am-flip-x" ng-show="!toggleIcon" id="resetActivity">
        <icon class="glyphicon glyphicon-search"></icon>
      </a>
    </div> 
  <!-- ENDOF SearchBar Controller -->
  <!-- Filter Controller -->
    <div class="filter-box" ng-controller="filterController"> 
      <div class="filter-wrap" ng-repeat="bundle in bundles | orderBy: 'id'">
        <multiselect 
          multiple='true' 
          ng-model="bundle.selected" 
          ms-header="{{bundle.placeholder}}"
          ms-multiple-string="{{bundle.maxString}}"
          ms-max-length="{{bundle.maxLength}}"
          ms-max-length-string="{{bundle.maxLengthString}}"
          ng-change="allowFilter()"
          options="filter.value as filter.label for filter in bundle.options">
        </select>
      </div>
      <div class="filter-reset">
        <button type="button" ng-click="resetFilters()" class="btn btn-primary fill">Reset Filters</button>            
      </div>
    </div>
  <!--ENDOF Filter Controller -->
</div>
    <!-- Sort Controller -->
    <div class="sort-filter-wrapper pull-right" ng-controller="sortController">
      <div class="sort">
        Sort by: 
        <div class="sort-select-wrap dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{currentstrategy}}
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="strat in strategies" >
              <a href="#" ng-model="strategy" ng-click="setStrategy(strat.attributeName, strat.displayName, strat.defaultOrder)">{{strat.displayName}}</a>
            </li>
          </ul>    
        </div>
        <a href="#" id="reverseOrder" ng-click="reverseOrder()"><i class="glyphicon glyphicon-arrow-{{orderIcon}}"></i></a>
      </div>
    </div>
    <!-- ENDOF Sort Controller -->
  </div>
</div>
<!-- Header -->
<div class="page-container">
  <div class="content-wrapper" ng-controller="cardsController" >
      <div class="date-wrapper" ng-repeat-start="dateobj in dates | orderBy: 'date' " >
        <div class="date-day-of-week" ng-controller="dateController">
          <a id="{{dateobj.date | date:filterFormat}}" 
          href="" class="date-choose-button" 
          ng-click="open($event)" 
          datepicker-popup=filterFormat
          ng-model="dt" 
          is-open="opened" 
          min="minDate" 
          max="maxDate"
          ng-required="true" 
          data-toggle="dropdown"
          close-text="Close">{{dateobj.date | date:filterFormat}}</a>
        </div>
      </div>
      <div ng-repeat-end>
        <div class="card-container">
          <div class="card-wrap" ng-repeat="card in dateobj.obj | filter:{activity:activityFilter}| property:searchFilter:filterFlag | orderBy: sortStrategy" ng-controller="cardController">
            <div class="card-left" > 
              <div class="card-activity">
                {{card.activity}}
              </div>
              <div class="card">
                <div class="card-star-wrapper star-mouseover">
                  <a href="#" tooltip-placement="top" tooltip="{{skillDescription}}">
                    <icon ng-repeat="i in stars" class="glyphicon glyphicon-star card-rating-stars"></icon>
                  </a>
                </div>
                <div class="card-header-wrapper">
                  <div class="description-text">
                    {{card.startdate | amDateFormat: 'dddd, MMM Do' | uppercase}}
                  </div>
                  <div class="card-number">
                    {{card.startdate | amDateFormat: 'HH:mm'}}-{{card.enddate | amDateFormat: 'HH:mm'}}
                  </div>
                  <div class="description-text">
                    {{card.location | uppercase}}
                  </div>
                </div>
                <div class="card-content-wrapper">
                  <div class="card-info-wrapper">
                    <div class="card-info-title">Description</div>
                    <div class="card-info description text-center">
                      {{card.description}}
                    </div>
                  </div>
                  <div class="card-metrics">
                    <div class="row">
                      <div class="col-md-4 friend-list-tooltip">
                        <div class="metric active">
                          <div class="card-number">
                            {{card.participants.totalFriends}}
                          </div>
                          <div class="description-text">
                            FRIENDS
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 metric passive">
                        <div class="card-number">
                          {{ card.participants.totalParticipants }}/{{card.capacity}}
                        </div>
                        <div class="description-text">
                          PEOPLE
                        </div>
                      </div>
                      <div class="col-md-4 metric passive">
                        <div class="card-number">
                          {{peopleneeded}}
                        </div>
                          <div class="description-text">
                            {{neededorfree}}
                          </div>
                      </div>                              
                    </div>
                  </div>
                </div>
                <div class="primary-button-wrapper">
                  <button type="button" ng-click="open()" class="btn btn-info fill">More</button>
                </div>
            </div>
          </div>
        </div>
      </div>                   
    </div>
  </div>
</div>  